.cv {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 30px;
    border: 2px solid $primary-color;
    border-radius: 50px;
    background-color: white;
    color: $secondary-color;
    font-weight: bold;
    cursor: pointer;
}