footer {
    height: 200px;
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-left: 25%;
    padding-right: 25%;

    .footer-title {
        margin-bottom: 2px;
        font-size: 20px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 30%;
    margin-left: 30%;
}

.copyright {
    text-align: center;
}

.footer-links {
    ul {
        list-style: none;
        
        li:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.footer-social {
    ul {
        list-style: none;
        
        li:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}