@media (max-width: 500px),
(orientation: portrait) {

  .social {
    display: none;
  }

  .scroll {
    min-height: 100vh;
  }

  .menu {
    display: none;
  }

  button:hover {
    box-shadow: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-title {
    display: block;
  }

  .home-button {
    display: block;
    height: 22px;
    width: 22px;
    position: fixed;
    top: 12px;
    left: 12px;
    background-color: $primary-color;

    img {
      height: 22px;
      width: 22px;
    }
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
      position: fixed;
      top: 10px;
      right: 10px;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0px;
    left: 0px;

    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    background: rgb(31, 31, 31, 0.9);
    color: white;
    padding-top: 24vh;
    padding-bottom: 40vh;
    text-decoration: underline;
    text-underline-offset: 4px;

    a:active {
      color: $primary-color;
      text-decoration: underline;
      text-decoration-color: $primary-color;
    }
  }

  .home-page {
    background-color: $mobile-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      order: 1;

      border-bottom: solid $primary-color 1px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      height: 200px;
      width: auto;
    }

    .home-description {
      order: 2;

      color: $secondary-color;
      font-weight: bold;
      border: none;
      text-align: left;
      margin: 0 auto;
      padding-right: 0;
      max-width: 80%;
    }
  }

  .my-projects {
    background-color: $mobile-color;

    h2 {
      color: $secondary-color;
      width: 250px;
      padding-bottom: 15px;
      margin-top: 50px;
    }
  }

  .about-me {
    background-color: $mobile-color;
    padding-bottom: calc(50px + env(safe-area-inset-bottom));
    flex-direction: column;
    height: auto;

    h2 {
      color: $secondary-color;
      width: 250px;
      margin-bottom: 20px;
    }

    .about-me-0 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }

    .about-me-1 {
      flex-direction: column;
      max-width: 90%;
      margin-bottom: 20px;

      img {
        margin: 0;
        margin-bottom: 40px;
      }

      .about-me-p {
        color: $secondary-color;
        font-weight: bold;
        text-align: left;
        margin: 0;
        height: auto;o

        button {
          background-color: $mobile-color;
          color: $secondary-color;
        }
      }
    }

    .about-me-2 {
      flex-direction: column;
      margin: 0;

      h3 {
        margin-bottom: 20px;
      }

      .about-me-2-img {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
      }
    }
  }

  .contacts {
    background-color: $mobile-color;
  }
  
  .form {
    max-width: 350px;
  }
}

