@media screen and (min-width: 671px) and (max-width: 1200px) {
    .menu {
        width: 70%;

        .first-child {
            margin-left: 10vh;
        }
    }

    .home-page {
        p {
            font-size: 22px;
            margin-left: 5vh;
        }

        img {
            height: 200px;
            width: auto;
        }
    }

    .home-description {
        height: 230px;
        margin-right: 15px;
        padding-right: 45px;
    }
}

@media screen and (min-width: 321px) and (max-width: 670px) {
    
}