$primary-color: rgb(255, 194, 61);
$secondary-color: rgb(31, 31, 31);
$mobile-color: rgb(241, 241, 241);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poiret one", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.hamburger-menu {
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-title {
    display: none;
}

.home-button {
    display: none;
}


@import "_nav.scss";

@import "_home-page.scss";

@import "_projects.scss";

@import "_about-me.scss";

@import "_cv.scss";

@import "_media-query-mobile.scss";

@import "_media-query-tablet.scss";

@import "_contacts.scss";

